<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--Det er lettere at hente `string`en end at sikre os at vi altid skriver det rigtigt-->
		<!--Navne på de forskellige uddannelser, for at sikre rigtig stavning samt formatering.-->
		<add key="itsupporter" value="IT-supporter" />
		<add key="infrastruktur" value="Infrastruktur" />
		<add key="programmering" value="Programmering" />
		<add key="vedIkke" value="Ved ikke" />
		<add key="minimumGrundforløbLængde" value='16' />

		<!--Navne på de forskellige skoler, for at sikre rigtig stavning samt stort forbogstav.-->
		<add key="ballerup" value="Ballerup" />
		<add key="lyngby" value="Lyngby" />
		<add key="frederiksberg" value="Frederiksberg" />
		<add key="ballerupMerit" value="Ballerup (Ordinær+)" />
		<add key="ballerupFuldt" value="Ballerup (Fuld forløb)" />

		<!--Navn på de forskellige blanket mapper-->
		<add key="outputMappe" value="..\Blanketter" />
		<add key="templates" value="Blanketter\\Templates\\" />

		<!--Endelser på udprintet blanketter-->
		<add key="endMerit" value="_M.pdf" />
		<add key="endRKV" value="_RKV.pdf" />

		<!--Admin fil sti-->
		<add key="samletMerit" value="..\Blanketter\_Samlet Merit.pdf" />
		<add key="samletRKV" value="..\Blanketter\_Samlet RKV.zip" />

		<!--Excel exe-->
		<add key="excelExe" value="ExcelRes\GFElevInterviewExcel.exe"/>
		
		<!--Python relateret-->
		<add key="venv" value=".venv" />
		<add key="pythonExe" value=".venv\Scripts\python.exe" />
		<add key="pythonScript" value="GFElevInterviewExcel.py" />


		<!--Navn på databasen -->
		<add key="db" value="elevDB.db" />

	</appSettings>
</configuration>