<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="itsupporter" value="IT-supporter" />
		<add key="infrastruktur" value="Infrastruktur" />
		<add key="programmering" value="Programmering"/>
		<add key="vedIkke" value="Ved ikke"/>

		<add key="ballerup" value="Ballerup" />
		<add key="lyngby" value="Lyngby" />
		<add key="frederiksberg" value="Frederiksberg" />

		<add key="outputMappe" value="..\Blanketter"/>
		<add key="templates" value="Blanketter\\Templates\\"/>
	</appSettings>
</configuration>